header {
	width:100%;
	background-color: #ffffff;
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width:2px;
	height: 90px;
	float:top;
	margin-top: 0px
	
}
#nametab {
	text-align: center;
	font-family: Georgia;
	color:white;
	float: left;
	border-style: solid #eee;
	background-color: #4aaaa5;
	margin-left: 40px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	height: 60px;
	width: 200px;
	font-size:30px;
	
}
header{
	font-size: 18px;
	margin:0px;
}

body{
	background-image:url(../images/pink_rice.png)
}

#abouttab {
	text-align:right;
	font-family: Times;
	font-size: 18;
	width: 15px;
	margin: 40px 300px 0px 2px;
	float: right;

}
#portfoliotab {
	text-align: center;
	font-family: Times;
	font-size: 18;
	width: 15px;
	margin: 40px -80px 0px 2px;
	border-right: 0px;
	float: right;
}
#Contact {
	text-align: left;
	font-family: Times;
	font-size: 18;
	width: 15px;
	float: right;
	margin: 40px -160px 0px 2px;
}

#midsection{
	background: url('images/pink_rice.png');
}

body {
	width:960px;
	height:100%;
	font-size: 30px;
}
h3{
	color: #4aaaa5;
	margin-top:15px;
}

#Aboutme{
	width:400px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	background-color: #ffffff;
	margin-left: 40px;
	margin-top: 45px;
	margin-right: 10px;
	font: Arial;
	font-color: teal;
	text-align: center;
	display: inline-block;
}
#profilepic{
	float:left;
	margin-top: -35px
}

#Connections{
	float: right;
	width:300px;
	padding-left: 12px;
	padding-bottom: 5px;
	padding-top: 3px;
	background-color: #ffffff;
	height: 205px;
	margin-right: 40px;
	margin-left:12px;
	margin-top:45px;
	margin-bottom: 35px;
	font: Arial;
	text-align: left;

}
#connectwme{
	padding-top:1px;
	text-align: center;
}

.keepleft{
	float:left;
}
.keepright{
	float:right;
	padding-left:10px;
	margin-left: 10px;
}
#github{
	margin-top:-35px;
	float:left;
	margin-right:10px;
}
#linkedin{
	margin-top:0px;
	margin-left:10px;
	float:right;
}

footer {
	width:100%;
	background-color: #666666;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-bottom-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	padding: 40px 20px 40px 20px;
	text-align: center;
	float: bottom;
	margin-top: 100px ;
	border-top-width: 10px;
	font-size: 15px;
	margin-bottom:-40px;

}
#Portfolio-pics{
	width:400px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	background-color: #ffffff;
	margin-left: 40px;
	margin-top: 45px;
	margin-right: 10px;
	margin-bottom: 10px;
	font: Arial;
	font-color: teal;
	text-align: center;
}
#connectwmeportfolio{
	float:right;
	width:300px;
	padding-left: 12px;
	padding-bottom: 5px;
	padding-top: 3px;
	background-color: #ffffff;
	height: 205px;
	margin-right: 40px;
	margin-left:12px;
	margin-top:45px;
	margin-bottom: 35px;
	font: Arial;
	text-align: left;
	display: inline-block;
}
#midsection a {
	display:inline-block;


}

#githubicon{
	float:left;
	margin-top:-35px;
	margin-right:10px;
}

#linkedinicon{
	float:right;
	margin-top:0px;
	margin-left: 10px;
}

#one{
	width:150px;
	background-color:4aaaa5;
	color:white;
	margin:0px;
	position:relative;
	top:-30px;
}
#two{
	width:150px;
	background-color:4aaaa5;
	color:white;
	margin:0px;
	position: relative;
	top:-30px;
}
#three{
	width:150px;
	background-color:4aaaa5;
	color:white;
	margin:0px;
	position:relative;
	top:-30px;
}
#four{
	width:150px;
	background-color:4aaaa5;
	color:white;
	margin:0px;
	position:relative;
	top:-30px;

}
#five{
	width:150px;
	background-color:4aaaa5;
	color:white;
	margin:0px;
	position:relative;
	top:-30px;

}
#six{
	width:150px;
	background-color:4aaaa5;
	color:white;
	margin:0px;
	position:relative;
	top:-30px;

}
h4{
	font-size: 18px
}

-contact page-
#middle{
	margin-top:45px;
}
 h5{
 	font-size: 15px;
 	font-style: normal;
 }

 #contactmid{
 	display:inline-block;
 	border-style:hidden;
 	background-color: #ffffff;
 	padding-left:45px;
 	padding-right: 45px;
 	margin-left:40px;
 	margin-top: 45px;


 }
 #midContact{
 	padding-right:10px;
 }
 #submit{
 	background-color:#4aaaa5;
 	padding: 5px;
 }
#message{
	padding:5px;
}